/* highlight.js代码块颜色调成 */
html[data-theme='dark'] {
  --hl-bg: #242424;
  --hlnumber-bg: #242424;
}

/* 整体背景颜色调整 */
[data-theme='dark'] {
  --global-bg: oklch(0.141 0.005 285.823);
  --font-color: oklch(1 0 0);
  --card-bg: oklch(0.21 0.006 285.885);
  --blockquote-color: oklch(1 0 0);
}

/* 主内溶区域宽度 */
.layout {
  max-width: 1280px;
}

/* 代码块指定行行高亮 */
.highlight .line.marked {
  background-color: rgba(30, 136, 229, 0.3) !important;  /* Material Blue 600 - 30%透明度 */
  border-left: 2px solid rgba(30, 136, 229, 0.9) !important;
}

/*用于diff代码块*/
/* 新增代码行背景 */
.highlight .line .addition {
  background-color: rgba(105, 240, 174, 0.15) !important;  /* 半透明浅绿 */
  border-left: 2px solid rgba(0, 200, 83, 0.6) !important;  /* 左侧绿色边框 */
  color: #00C853 !important;  /* Material Green 600 */
}
/* 删除代码行背景 */
.highlight .line .deletion {
  background-color: rgba(255, 138, 128, 0.15) !important;  /* 半透明浅红 */
  border-left: 2px solid rgba(255, 82, 82, 0.6) !important;  /* 左侧红色边框 */
  color: #FF5252 !important;  /* Material Red A200 */
}

/* 音乐字母隐藏 */
.aplayer.aplayer-fixed .aplayer-lrc {
  display: none !important;
}
